body{
    margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 0.6fr 700px 0.5fr;
  grid-template-rows: 0.5fr 390px 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado encabezado encabezado"
    "indicacion_izquierda zona_juego indicacion_derecha"
    "pie pie pie";
}

.encabezado { 
    grid-area: encabezado;
    background-color:rgb(45, 74, 192); 
    color: aliceblue;
    text-shadow: 3px;
    
}
.encabezado h1{
    text-align: center;
}

.zona_juego { 
    grid-area: zona_juego;
    padding-top:  40px;
    height: 400px;
    width: 100%;
   
   
 }

 #juego{
     width:100%;
     height:100%;
 }

.indicacion_izquierda { 
    grid-area: indicacion_izquierda;
   
}

.controles_img{
    padding-top: 35px;
    
}

.indicacion_derecha { 
    grid-area: indicacion_derecha;
    
 }

.pie {
     grid-area: pie;
    
     
     }

