.container {
    display: grid;
    grid-template-columns: 0.6fr 1.9fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "encabezado encabezado encabezado"
      "indicacion_izquierda zona_juego indicacion_derecha"
      "pie pie pie";
  }
  
  .encabezado { grid-area: encabezado; }
  
  .zona_juego { 
      grid-area: zona_juego;
      height: 400px;
      background: black; 
    }
    #ball{
        width: 20px;
        height: 20px;
        background: #000;
        position:absolute;
        left:10px;
        top:0px;
        border: 2px solid #fff;
        border-radius: 10px;
        position:relative;
    }

    .bar{
        width: 20px;
        height: 100px;
        background: #000;
        border: 2px solid #fff;
        
    }

    #bar1{
        top: 20px;
        float: left; 
        position: relative;
    }
    #bar2{
        top: 20px;
        float:right;
        position: relative;
    }
    #line{
        width:50%;
        border-right: #fff dashed 5px;
        height: 90%;
        position:relative  
    }
  
  .indicacion_izquierda { grid-area: indicacion_izquierda; }
  
  .indicacion_derecha { grid-area: indicacion_derecha; }
  
  .pie { grid-area: pie; }
  